{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        ["@babel/transform-runtime", 
            {
                "module-resolver": {
                    "root":["./src"],
                    "aliases": {
                        "@": "./src",
                        "@pages": "./src/pages",
                        "@components": "./src/components",
                        "@reducers": "./src/redux/reducers",
                        "@forms": "./src/forms",
                        "@utils": "./src/utils"
                    }
                }
            }]
    ]
}
